<div class="container-fluid bg-dark mt-5 ">
    <div class="row justify-content-center">
        <h3 class="pt-1 pb-1 text-white">Done by YourSouLisMine</h3>
    </div>
</div>
<script src="https://code.jquery.com/jquery-3.3.1.js"></script>
<script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.14.3/umd/popper.min.js"></script>
<script src="https://stackpath.bootstrapcdn.com/bootstrap/4.1.3/js/bootstrap.min.js"></script>
</body>
</html>