@import "general/_color"

.pass_show
    position: relative 

.pass_show .ptxt
    position: absolute; 
    top: 55%; 
    right: 10px; 
    color: $orange; 
    cursor: pointer; 

.pass_show .ptxt:hover
    color: red
