<%- include('partials/header') %>
<div class="container-fluid mt-5">
    <div class="row">
        <img src="../public/img/parallax.jpg" class="mx-auto" alt="">
    </div>
</div>
<%- include('partials/footer') %>