<%- include('partials/header') %>
<div class="container-fluid">
    <div class="row justify-content-center">
        <div class="col-3">
            <form action="">
                <h2 class="text-center mt-5 mb-4">Iniciar Sesión</h2>
                <div class="form-row mb-3">
                    <div class="col">
                        <label>Usuario</label>
                        <input type="text" value="" class="form-control" placeholder="Usuario" pattern="^[a-zA-Z0-9][\w-]{2,15}$" required>
                    </div>
                </div>
                <div class="form-row mb-3 pass_show">
                    <div class="col">
                        <label>Contraseña</label>
                        <input type="password" value="" class="form-control" placeholder="Contraseña" required>
                        <span class="ptxt">Mostrar</span>
                    </div>
                </div>
                <button type="submit" class="btn btn-success mt-4 btn-block">Envíar</button>
            </form>
        </div>
    </div>
</div>
<%- include('partials/footer') %>