<%- include('partials/header') %>
<div class="container-fluid mt-5">
    <div class="row justify-content-center">
        <div class="dropdown">
            <button class="btn btn-info dropdown-toggle" type="button" data-toggle="dropdown">
            Servicios
            </button>
            <div class="dropdown-menu" aria-labelledby="dropdownMenuButton">
                <a class="dropdown-item" href="#">Telcel Plan Pobre</a>
                <a class="dropdown-item" href="#">Telcel Plan Medio</a>
                <a class="dropdown-item" href="#">Telcel Plan Rico</a>
            </div>
        </div>
    </div>
    <div class="row text-center mt-5">
        <div class="col">
            <button type="submit" class="btn btn-success">Imprimir</button>
        </div>
    </div>
    <div class="row justify-content-center text-center mt-5">
        <div class="col-2">
            <form action="">
                <div class="form-row mb-3 justify-content-center">
                    <h4>Correo Electrónico</h4>
                    <input type="text" value="" class="form-control" placeholder="Correo">
                </div>
                <button type="submit" class="btn btn-success">Eviar por Correo</button>
            </form>
        </div>
    </div>
</div>
<%- include('partials/footer') %>
<script src="../public/libs/js/dropdown.js"></script>