<%- include('partials/header') %>
<div class="container-fluid">
    <div class="row justify-content-center">
        <div class="col-5">
            <form id="signup" enctype="multipart/form-data">
                <h2 class="text-center mt-5 mb-4">Registro</h2>
                <div class="form-row mb-3">
                    <div class="col">
                        <label>Nombre</label>
                        <input name="name" type="text" class="form-control" placeholder="John Doe">
                    </div>
                    <div class="col">
                        <label>Usuario</label>
                        <input name="nickname" type="text" class="form-control" placeholder="john">
                    </div>
                </div>
                <div class="form-row mb-3">
                    <div class="col">
                        <label>Email</label>
                        <input name="email" type="text" class="form-control" placeholder="john@ejemplo.com">
                    </div>
                    <div class="col">
                        <label>Teléfono</label>
                        <input name="phone" type="number" class="form-control" placeholder="##########">
                    </div>
                </div>
                <div class="form-row mb-3">
                    <div class="col">
                        <label>Calle</label>
                        <input name="street" type="text" class="form-control" placeholder="Avenida Principal">
                    </div>
                    <div class="col">
                        <label>Número Exterior</label>
                        <input name="home_number" type="number" class="form-control" placeholder="####">
                    </div>
                    <div class="col">
                        <label>Número Interior</label>
                        <input name="interior" type="number" class="form-control" placeholder="####">
                    </div>
                </div>
                <div class="form-row mb-3">
                    <div class="col">
                        <label>Colonia</label>
                        <input name="colony" type="text" class="form-control" placeholder="Del Valle">
                    </div>
                    <div class="col">
                        <label>Código Postal</label>
                        <input name="postal_code" type="number" class="form-control" placeholder="#####">
                    </div>
                    <div class="col">
                        <label>Municipio</label>
                        <input name="town" type="text" class="form-control" placeholder="Manzanillo">
                    </div>
                    <div class="col">
                        <label>Estado</label>
                        <input name="city" type="text" class="form-control" placeholder="Colima">
                    </div>
                </div>
                <div class="custom-file mb-3">
                    <input id="photo" type="file" name="photo" class="custom-file-input" accept="image/x-png,image/jpeg">
                    <label class="custom-file-label text-truncate">Escoger Foto de Perfil...</label>
                </div>
                <div class="form-row mb-3 pass_show">
                    <div class="col">
                        <label>Contraseña</label>
                        <input name="password" type="password" class="form-control" placeholder="**********">
                        <span class="ptxt">Mostrar</span>
                    </div>
                </div>
                <div class="form-row mb-3 pass_show">
                    <div class="col">
                        <label>Confirmar contraseña</label>
                        <input name="password_confirm" type="password" class="form-control" placeholder="**********">
                        <span class="ptxt">Mostrar</span>
                    </div>
                </div>
                <button id="register" class="btn btn-success mt-4 btn-block">Envíar</button>
            </form>
        </div>
    </div>
</div>
<%- include('partials/footer') %>
<script src="../public/libs/js/signup/signupHelper.js"></script>
<script src="../public/libs/js/signup/signup.js"></script>
<script src="../public/libs/js/custom_file_input.js"></script>
<script src="../public/libs/js/pass_show.js"></script>
