/* line 2, public/sass/header.sass */
nav img {
  width: 75px;
}

/* line 3, public/sass/pass_show.sass */
.pass_show {
  position: relative;
}

/* line 6, public/sass/pass_show.sass */
.pass_show .ptxt {
  position: absolute;
  top: 55%;
  right: 10px;
  color: #f36c01;
  cursor: pointer;
}

/* line 13, public/sass/pass_show.sass */
.pass_show .ptxt:hover {
  color: red;
}
